.navbar-brand {
    font-family: 'Dancing Script', cursive;
    font-size: 2.5rem;
    font-weight: bold;
    padding-bottom: 10px;
}

.navbar {
    padding: 0 20px 0 40px;
    
    
}

.navbar-nav.navbar-center {
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.navbar-dark .navbar-brand:hover {
    transition: color 0.7s ease-out;
    color: #F54748;
}

.navbar.navbar-expand-md.navbar-dark.bg-dark {
    bottom: 25px;
}

.fluid-container {
    position: relative;
    bottom: 25px;
}

.pillbutton {
    background-color: #F54748;
    border: none;
    color: white;
    padding: 5px 18px;
    text-align: center;
    font-weight: 600;
    font-size: small;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.pillbutton:hover {
    background-color: #C43839;
    border: none;
    color: white;
    padding: 5px 18px;
    text-align: center;
    font-weight: 600;
    font-size: small;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}


.signin {
    background-color: transparent;
    border: none;
    color: white;
    padding: 5px 18px;
    text-align: center;
    font-weight: 600;
    font-size: small;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.signin:hover {
    background-color: transparent;
    border: none;
    color: #F54748;
    padding: 5px 18px;
    text-align: center;
    font-weight: 600;
    font-size: small;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}

.navbar .navbar-nav .nav-link:hover {
    color: #F54748;
    font-weight: 500;
  }
  @media only screen and (min-width: 960px) {
    .navbar .navbar-nav .nav-link {
      padding: 1em 0.7em;
    } 
    
    
  }
  .navbar .navbar-nav .nav-animation.nav-link {
    position: relative;
  }
  .navbar .navbar-nav .nav-animation.nav-link::after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background-color:#F54748;
    color: transparent;
    width: 0%;
    content: '';
    height: 3px;
    transition: all 0.5s;
  }

  

  .navbar .navbar-nav .nav-animation.nav-link:hover::after {
    width: 100%;
  }

  #header {
      background-color: #1A1E21;
      position: relative;
      padding: 15px 0 18px 30px;
      
  }

  .header-icon {
      color: whitesmoke;
      padding: 0 0 0 20px;
  }

  .header-icon:hover {
      color: #F54748;
  }